@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar {
  padding-left: 80px;
}

#TabsToolbar {
  min-height:0;
  visibility: collapse;
}

.titlebar-buttonbox-container {
  position: fixed;
  visibility: visible;
  margin-top: 5px;
}


[sizemode="fullscreen"] #nav-bar,
window[chromehidden~="toolbar"] .chromeclass-toolbar-additional {
  padding-left: 0;
}

[lwthemetextcolor="dark"] toolbar {
  -moz-appearance: -moz-mac-vibrant-titlebar-light !important;
}

[lwthemetextcolor="bright"] toolbar {
  -moz-appearance: -moz-mac-vibrant-titlebar-dark !important;
}
