@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar {
  -moz-appearance: -moz-window-titlebar !important;
  margin-right: 140px !important;
}

#TabsToolbar {
  min-height: 0;
  visibility: collapse;
}

.titlebar-buttonbox-container {
  position: fixed;
  visibility: visible;
  right: 0;
  z-index: 1;
}

#titlebar {
  visibility: collapse;
}

[sizemode="maximized"] {
  margin-top: 8px;
}

/* This is a thing but it makes the titlebar larger
[sizemode="maximized"] #nav-bar {
  -moz-appearance: -moz-window-titlebar-maximized !important;
}*/

[sizemode="fullscreen"] #nav-bar,
window[chromehidden~="toolbar"] .chromeclass-toolbar-additional {
  padding-right: 0;
}