@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar {
  padding-right: 140px;
}

#TabsToolbar {
  min-height:0;
  visibility: collapse;
}

.titlebar-buttonbox-container {
  position: fixed;
  visibility: visible;
  margin-top: 5px;
  right: 0;
  z-index: 1;
  color: #fff;
}

#titlebar {
	visibility: collapse;
}