@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar {
  padding-right: 140px;
}

#TabsToolbar {
  min-height: 0;
  visibility: collapse;
}

.titlebar-buttonbox-container {
  position: fixed;
  visibility: visible;
  right: 0;
  z-index: 1;
}

[lwtheme="true"] .titlebar-buttonbox-container {
  color: #fff;
}

#titlebar {
  visibility: collapse;
}

[sizemode="maximized"] {
  margin-top: 8px;
}

[sizemode="fullscreen"] #nav-bar,
window[chromehidden~="toolbar"] .chromeclass-toolbar-additional {
  padding-right: 0;
}